# Send all responses in utf-8
AddDefaultCharset utf-8
# Allow directory browsing. USEFUL ONLY DURING DEVELOPMENT
Options +Indexes

# Use url rewriting. BE SURE YOU ENABLE rewrite_module in Apache 
RewriteEngine on
# Base directory for rewritng: URL OF YOUR POROJECT
RewriteBase /epita/auction/pages/
# Rewriting rules (use regular expressions)
RewriteRule ^sign_in$ login.php
RewriteRule ^sign_out$ login.php?action=disconnect
RewriteRule ^products$ products.php
RewriteRule ^product-(\d+)$ product.php?id=$1
RewriteRule ^product-(\d+)-bids$ product_bids.php?id=$1
RewriteRule ^member-(\d+)$ member.php?id=$1
